{% extends 'base.html.twig' %}

{% block title %}Sesión admin{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="row margin_top">
        <div class="col-md-4 container_center_row">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
                <label>Usuario: </label>
                {{ form_widget(form.alias, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                <label>Contraseña: </label>
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Iniciar Sesión</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}